@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", "Outfit", sans-serif;
  --color-amber-200: #fde68a;
  --color-amber-500: #f59e0b;
  --color-amber-900: #78350f;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-900: #064e3b;
  --color-slate-100: #f1f5f9;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
}

@layer base {
  body {
    background-color: var(--color-slate-900);
    color: var(--color-slate-100);
    font-family: var(--font-sans);
  }
}
